*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}
.navbar-default{
    background: #222222 !important;
    margin-bottom: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}
.navbar-nav>li>a:hover{
    color: white !important;
}
img{
    width: 100%;
    display: block;
}
.banner{
    width: 100%;
    position: relative;
}
.banner_mark{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color: white;
    font-family: Impact,sans-serif;
}
.shop{
    width: 100%;
    padding: 3vw 0;
    background: white;
}
.shop_title{
    width: 80%;
    margin: auto;
    font-size: 2.5vw;
    text-align: left;
    color: #222222;
    font-family: "Calibri Light";
}
.shop_con{
    width: 80%;
    margin: 1vw auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shop_con>div{
    width: 24%;
    background: #EFEFEF;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.shop_name{
    margin-top: 15px;
    color: #222222;
    font-size: 1.2vw;
    font-family: "Calibri Light";
}
.shop_price{
    margin-top: 10px;
}
.buy_btn{
    width: 100%;
    border: 1px solid #222222;
    margin-top: 25px;
    padding: 10px 0;
    color: #222222;
    transition: all 0.3s;
}
.buy_btn:hover{
    background: #222222;
    color: white;
}
.bg_title{
    width: 100%;
    padding: 5vw 0;
    background: rgba(0,0,0,0.5);

}
.bg_title_con{
    width: 80%;
    margin: auto;
    color: white;
    font-size: 3vw;
    font-family: Impact,sans-serif;
    text-align: left;
}
.flex_img{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.shop_table{
    width: 100%;
    background: white;
    padding: 3vw 0;
}

.con1{
    width: 100%;
    margin: auto;
    background: #EEEDED;
    padding: 3vw 0;
}
.con1_con{
    width: 80%;
    margin: auto;
}
.titles_con{
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    background: white;
    padding: 3vw;
    box-sizing: border-box;

}
.titles_con>div>a{
    transition: all 0.3s;
    font-family: Impact;
}
.titles_con>div{
    transition: all 0.3s;
    font-size: 1.5vw;
}
.titles_con>div>a:hover{
    color: #222222;
    text-decoration: none;
    transform: scale(1.1);
}
.paragraphs{
    width: 100%;
    padding: 3vw 0;
    background: #EEEDED;
}
.paragraphs_text{
    width: 80%;
    margin: 10px auto;
    font-size: 1.2vw;
    font-family: "Calibri Light";
}
.Cards{
    width: 100%;
    background: white;
    padding: 3vw 0;
}
.card_con{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card_con>div{
    width: 32%;
    height: 300px;
    background: #EEEDED;
    margin-top: 20px;
    padding: 2vw 20px;
    box-sizing: border-box;
    font-size: 2vw;
    font-family: "Calibri Light";
    cursor: pointer;
}
.card2{
    box-shadow: 0 0 10px rgb(0 0 0);
}
.card3{
    transition: all 0.3s;
}
.card3:hover{
    box-shadow: 0 0 10px rgb(0 0 0);
}
.color{
    width: 100%;
    padding: 3vw 0;
    background: #EEEDED;
}
.color_con{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.color_con>div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 26px;
}
.color_con>div{
    width: 18%;
    height: 80px;
}
.header{
    width: 100%;
    padding: 3vw 0;
    background: #EEEDED;
}
.header_con{
    width: 80%;
    margin: auto;
}
.header_con>.navbar{
    width: 100% !important;
}
.shop_table{
    width: 100%;
    background: white;
}
.table_con{
    width: 80%;
    padding: 2vw 20px;
    box-sizing: border-box;
    background: #EEEDED;
    border-radius: 5px;
    margin: 20px auto;
}
.shop_tables{
    width: 100%;
    margin: auto;
    font-family: "Calibri Light";
}
.shop_tables tr th{
    font-size: 24px;
    padding: 10px 10px;
}

.shop_tables tr td{
    font-size: 18px;
    padding: 10px 10px;
}
.shop_tables tr td:first-child{
    padding: 0 10px !important;
}
.shop_tables tr th:first-child{
    padding: 0 10px !important;
}
.table_con3>tr>th{
    border-right: 1px solid #222222;
}
.shop_tables4>tr>td{
    padding: 0 10px !important;
}
.shop_tables4>tr>th{
    padding: 0 10px !important;
    box-sizing: border-box;
}
.forms{
    width: 100%;
    padding: 3vw 0;
    background: white;
}
.forms_con{
    width: 80%;
    margin: 20px auto;
    background: #EFEFEF;
    border-radius: 5px ;
    padding: 1vw 20px;
    box-sizing: border-box;
}
.forms_title{
    width: 80%;
    margin: 10px auto;
    font-size: 26px;
    font-family: "Calibri Light",sans-serif;
}
.forms_con{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.forms_con>div{
    width: 48%;
    margin-bottom: 20px;
}
.ipt_name{
    width: 100%;
    margin: auto;
    background: white;
    height: 50px;
    border: 0;
    text-indent: 10px;
    border-bottom: 1px solid #DADCE0;
    border-radius: 5px;
}
.textarea{
    width: 100%;
    height: 150px;
    border: 1px solid #DADCE0;
    padding: 10px 0;
    text-indent: 10px;
    border-radius: 5px;
}
.btn_sub{
    width: 60%;
    margin: 40px auto;
    border: 1px solid #222222;
    color: #222;
    padding: 10px 0;
    font-size: 20px;
    font-family: "Calibri Light";
    transition: all 0.3s;
}
.btn_sub:hover{
    background: #222222;
    color: white;
}
.footer{
    width: 100%;
    padding: 1vw 0;
    background: #222222;
    color: white;
    text-align: center;
    font-size: 2vw;
}
@media screen and (max-width: 960px){
    .shop_con>div{
        width: 49%;
        background: #EFEFEF;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .shop_title{
        font-size: 26px;
        text-align: center;
        color: #222222;
        font-family: "Calibri Light";
    }
    .card_con>div{
        width: 48%;
    }
}
@media screen and (max-width: 760px){
    .shop_con>div{
        width: 100%;
        background: #EFEFEF;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .card_con>div{
        width: 100%;
    }
}
